.oce-file-explorer {
  font-size: 13px;
}
.oce-file-explorer__table__head > table > thead {
  background: #F9F9F9;
  border-bottom: 1px solid #F1F1F1;
}
.oce-file-explorer__table__head > table > thead > tr > th {
  padding: 16px 25px;
}
.oce-file-explorer__table__body > table > tbody > tr > td {
  cursor: pointer;
  padding: 10px 25px;
  border-bottom: 1px solid #F1F1F1;
}
.oce-file-explorer__table__body > table > tbody > tr:hover {
  background: #E6F7FF;
}

.active {
  color: #fff;
  background: #2593FC;
}
.active:hover {
  background: #2593FC !important;
}